* {
  box-sizing:border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.hud {
  position: fixed;
  top: 12px;
  right: 12px;

  background: black;
  color: red;
  padding: 4px 8px;

  font-family: monospace;
  font-size: 14px;
  z-index: 999;
}


.game-container {
  position: relative; 
  width: 352px;
  height: 198px;
  margin: 0 auto;
  outline: 1px solid #fff;

  transform: scale(2.3) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
}