* {
  box-sizing:border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.hud {
  position: fixed;
  top: 12px;
  right: 12px;

  background: black;
  color: red;
  padding: 4px 8px;

  font-family: monospace;
  font-size: 14px;
  z-index: 999;
}

.touch-controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 120px 120px 120px;
  gap: 6px;
}


.touch-controls button {
  width: 120px;
  height: 120px;
  font-size: 20px;
  opacity: 0.4;
  border-radius: 10px;
}

/* Grid placement */
.touch-controls .up {
  grid-column: 2;
  grid-row: 1;
}

.touch-controls .left {
  grid-column: 1;
  grid-row: 2;
}

.touch-controls .right {
  grid-column: 3;
  grid-row: 2;
}

.touch-controls .down {
  grid-column: 2;
  grid-row: 3;
}


.game-container {
  position: relative; 
  width: 352px;
  height: 198px;
  margin: 0 auto;
  outline: 1px solid #fff;

  transform: scale(2.3) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
}